body{
    background: #f9f9f9;
}
.index-main{
    padding: 20px;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#file_code{
    width: 170px;
    height: 170px;
    border: #e4e4e4 solid 1px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -100%);
    -webkit-box-shadow:0px 3px 3px #c8c8c8 ;
    -moz-box-shadow:0px 3px 3px #c8c8c8 ;
    box-shadow:0px 3px 3px #c8c8c8 ;
}
 #progress{
    height: 6px;
    background: #fbd974;
    position: absolute;
    border-radius: 5px;
    margin-top: 40px;
}
.upload-main input{
    position: absolute;
    border-radius: 5px;
    margin-top: 40px;
    width: 100%;
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    .td_name > td:nth-of-type(1){
        display: block;
        width: 300px;
        word-break:keep-all;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
}
@media only screen and (max-width: 600px){
    .td_name > td:nth-of-type(1){
        display: block;
        width: 50px;
        word-break:keep-all;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
}