<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP-文件服务器</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/static/libs/bootstrap-5.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/site.css?n={{n}}" rel="stylesheet"/>
    <link rel="shortcut icon" href="/static/image/logox1.png" type="image/x-icon" />
    <style>
    </style>
</head>
<body>
<div class="index-main">
    <div>
        <input type="hidden" value="{{ dir_name }}" id="dir_name">
        <span>位置: </span>
        <span class="c-666"><a href="/">/</a></span>
        {% for i in file_list.path_dir %}
            <span class="c-999 en">&gt;</span>
            <span class="c-666"><a href="/?dir={{ i.path }}">{{ i.name }}</a></span>
        {% endfor %}
    </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" id="abc1">名称</th>
          <th scope="col">大小</th>
          <th scope="col">修改时间</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for i in file_list.file_list %}
        <tr class="td_name">
          <td >
            {% if i.directory %}
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-wenjianjia"></use></svg> <a href="/?dir={{ i.file_full }}">{{ i.file_name }}</a>
            {% else %}
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-wenjian"></use></svg> {{ i.file_name }}
            {% endif %}
          </td>
          <td>{{ i.size }}</td>
          <td>{{ i.time }}</td>
          <td>
            {% if not i.directory %}
              <a href="/file/download?dir={{ dir_name }}&file={{ i.file_name }}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-xiazai"></use></svg></a>
              <svg class="icon code-icon" dir="{{ dir_name }}" file="{{ i.file_name }}" aria-hidden="true"><use xlink:href="#icon-barcode-qr"></use></svg>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<img src="" alt="二维码" id="file_code" style="display: none">
<div class="upload-main">
    <input id="fileupload" type="file" name="fileupload" multiple style="" value="上传文件" class="form-control">
    <div id="progress"></div>
</div>
<script type="text/javascript" src="/static/libs/icon/iconfont.js?n={{ n }}"></script>
<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/static/js/site.js?n={{ n }}"></script>
<script src="/static/js/file/vendor/jquery.ui.widget.js"></script>
<script src="/static/js/file/jquery.iframe-transport.js"></script>
<script src="/static/js/file/jquery.fileupload.js?n=2"></script>
<link rel="stylesheet" type="text/css" href="/static/js/jbox/jBox.all.css"/>
<script type="text/javascript" src="/static/js/jbox/jBox.all.js"></script>
<script>
    $(function () {
        $(".code-icon").hover(function(){
            console.log($(this).attr("dir"))
            code_image_show($(this).attr("dir"),$(this).attr("file"));
        },function(){
           code_image_hide();
        })
    })
    var upload_status = {"error":0,"success":0,"count":0}
    $('#fileupload').fileupload({
        dataType: 'json',
        url: '/file/upload',
        singleFileUploads:true,
        add: function(e, data) {
            $('#progress').show();
            upload_status.count = data.originalFiles.length;
            data.formData={"dir_name":$("dir_name").val()};
            data.submit();
        },
    done: function (e, data) {
        $('#progress').hide();
        put_status = data.result.files;
        if(data.result["error"]){
            new jBox('Notice', {
                content: "上传文件失败,ERROR:"+data.result["error"], color:"red",
            });
        }else{
            for (var i=0;i<put_status.length;i++) {
            if(put_status[i]["error"]){
                new jBox('Notice', {
                    content: "上传"+put_status[i]["name"]+"失败,"+put_status[i]["error"], color:"yellow",
                });
                upload_status.error+=1;
            }else{
                upload_status.success+=1;
            }
            };
        }

        if((upload_status.success+upload_status.error)==upload_status.count){
            if(upload_status.error>0){
                setTimeout("window.location.reload();",5000);
            }else{
                //window.location.reload();
            }
        }
    },
    progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress').css('width',progress + '%');
        }
    });
</script>
</body>
</html>